html {
    font-family: 'Cascadia Code', sans-serif;
    font-size: 100%;
    color: white;
    height: 100%;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-image: url("images/free_img.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(14, 14, 36, 0.7);
    min-height: 100%;
}

h1 {
    margin: 0;
}

figure img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

figcaption {
    text-align: center;
}

main {
    display: grid;
    place-items: center;
}

#text {
    margin: 0 30%;
}

#sidebar {
    position: sticky;
    top: 0;
    background-color: rgba(5, 5, 8, 0.9);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    margin-top: auto;
}

ul {
    list-style-type: none;
    font-size: larger;
    text-align: center;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(0, 119, 181);
}

a:hover {
    color: white;
}

#contact {
    text-align: center;
    margin-top: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: auto 20px 0 20px;
}

footer img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}