html {
    font-family: 'Cascadia Code', sans-serif;
    font-size: 100%;
    color: white;
    height: 100%;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-image: url("images/free_img.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(14, 14, 36, 0.7);
    min-height: 100%;
}

header {
    text-align: center;
    margin: 0 25%;
    border-bottom: 2px solid #ccc;
}

figure img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

figcaption {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

#text {
    margin: 0 30%;
}

#sidebar {
    position: sticky;
    top: 0;
    background-color: rgba(5, 5, 8, 0.9);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    margin-top: auto;
}

ul {
    list-style-type: none;
    font-size: larger;
    text-align: center;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(0, 119, 181);
}

a:hover {
    color: white;
}

#contact {
    text-align: center;
    margin-top: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: auto 20px 0 20px;
}

footer img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#education_skills, #career {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #ccc;
}

#education {
    flex: 1;
}

#education ul {
    list-style-type: circle;
    text-align: left;
}


h2 {
    display: inline-block;
    margin-bottom: 0;
    border-bottom: 2px solid #ccc;
}

#skills {
    flex: 1;
}

#skills ul {
    list-style-type: circle;
    text-align: left;
}

#coding_img {
    flex: 1;
}

#coding_img img {
    height: 400px;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 10%;
}

#career {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1400px;
}

.job {
    width: 100%;
    max-width: 350px;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.job ul {
    list-style-type: circle;
    text-align: left;
}
  
